<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TechChat</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/faviconChatt.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>  
  {{{body}}}
</body>
</html>