<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TechChat</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/faviconChatt.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  
  <h1>404 the {{page}} page could not be found!</h1>
  
   <nav><a href="/login"><img id="logo" src="/assets/img/TechChatLogo.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/chat">Chat Page</a></div>
    <div class="navlink"><a href="/friends">Friends List Page</a></div>
    <div class="navlink"><a href="/change">Change Password Page</a></div>
  </nav>
  <br/>
  <img src="/assets/img/internet.png">
</body>
</html>