html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
}



#logo {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

#title {
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    border: 2px solid black;
    font-size: 80px;
    border-radius: 4px;
    background-color: #EC8385;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    text-decoration: underline;
}

#author {
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    border: 2px solid #EC8385;
    border-radius: 4px;
    background-color: #EC8385;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

#contentTitle{
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 25px;
    text-align: center;
    border: 2px solid #EC8385;
    border-radius: 4px;
    background-color: #EC8385;
    padding: 5px;
    min-height:40px;
    overflow: hidden;
    text-decoration: underline;
}

#contentForm{
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #EC8385;
    border-radius: 4px;
    background-color: #EC8385;
    padding: 5px;
    min-height:40px;
    overflow: hidden;
    text-decoration: underline;
}

#content{
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 25px;
    text-align: center;
    border: 2px solid #EC8385;
    border-radius: 4px;
    background-color: #EC8385;
    padding: 5px;
    min-height:40px;
    overflow: hidden;
    text-decoration: underline;
}

#contentLogin{
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
    text-align: center;
    border: 2px solid #EC8385;
    border-radius: 4px;
    background-color: #F1A7A9;
    padding: 5px;
    min-height:40px;
    overflow: hidden;
    text-decoration: underline;
}

#lostPage{
    width: 100%;
    height: 100%;
    background-color: #E35053;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #E35053;
    border: 2px solid black;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: #F1A7A9;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #E35053;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #F1A7A9;
}

#content{
    background-color: #F1A7A9;
}

body{
    background-color: #F1A7A9;
}


.chatForm {
    border: 2px solid #F1A7A9;
    height: 65px;
    padding-top:20px;
    background-color: #EC8385;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.chatForm label {
    display: inline-block;
    width: 205px;
    margin-left: 100px;
    font-size: 1.2em;
    color: white;
}

.makeChatSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #E66063;
    border-radius: 2px;
    border-color: #E66063;
    color: black;
    text-decoration: none;
}

.makeChatSubmit:link, .makeChatSubmit:visited, .makeChatSubmit:hover, .makeChatSubmit:active {
    color: black;
}

.makeChatSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #F1A7A9;
}

#chat {
  
    min-width: 400px;
    border: 2px solid #F6CACC;
    border-radius: 4px;

    margin-top: 10px;
}

.chat {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #EC8385;
    border-radius: 4px;
    background-color: #EC8385;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.chat:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #F6CACC;
}

h3.emptyChat {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

.noteForm {
    border: 2px solid #F1A7A9;
    height: 65px;
    padding-top:20px;
    background-color: #EC8385;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.noteForm label {
    display: inline-block;
    width: 205px;
    margin-left: 100px;
    font-size: 1.2em;
    color: white;
}

.makeNoteSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #E66063;
    border-radius: 2px;
    border-color: #E66063;
    color: black;
    text-decoration: none;
}

.makeNoteSubmit:link, .makeNoteSubmit:visited, .makeNoteSubmit:hover, .makeNoteSubmit:active {
    color: black;
}

.makeNoteSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #F1A7A9;
}

#note {
  
    min-width: 400px;
    border: 2px solid #F6CACC;
    border-radius: 4px;

    margin-top: 10px;
}

.note {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #EC8385;
    border-radius: 4px;
    background-color: #EC8385;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.note:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #F6CACC;
}

h3.emptyNote {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}










.uploadForm {
    border: 2px solid #F1A7A9;
    height: 65px;
    padding-top:20px;
    background-color: #EC8385;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.uploadForm label {
    display: inline-block;
    width: 205px;
    margin-left: 100px;
    font-size: 1.2em;
    color: white;
}

.makeUploadSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #E66063;
    border-radius: 2px;
    border-color: #E66063;
    color: black;
    text-decoration: none;
}

.makeUploadSubmit:link, .makeUploadSubmit:visited, .makeUploadSubmit:hover, .makeUploadSubmit:active {
    color: black;
}

.makeUploadSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #F1A7A9;
}

#upload {
    min-width: 400px;
    margin-top: 10px;
    transition: background-color 0.4s ease;
    display: inline;
    background-color: white;
    border-radius: 5px;
    border-color: #E66063;
    color: black;
    text-decoration: none;
}

#search {
    min-width: 400px;
    border: 2px solid #F6CACC;
    border-radius: 4px;
    margin-top: 10px;
}

#submitMeme {
    transition: background-color 0.4s ease;
    display: inline;
    width: 190px;
    background-color: #E66063;
    border-radius: 2px;
    border-color: #E66063;
    color: black;
    text-decoration: none;
}

.search {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #EC8385;
    border-radius: 4px;
    background-color: #EC8385;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.search:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #F6CACC;
}

h3.emptyfile {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

img {
    height: 300px;
    width: 350px;
    margin: 0 auto;
}

.ad {
    margin-left: 200px;
}


#friends {
  
    min-width: 400px;
    border: 2px solid #F6CACC;
    border-radius: 4px;

    margin-top: 10px;
}

.friend {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #EC8385;
    border-radius: 4px;
    background-color: #EC8385;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.friend:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #F6CACC;
}

h3.emptyfriendslist {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

#meme {
    min-width: 400px;
    border: 2px solid #F6CACC;
    border-radius: 4px;
    margin-top: 10px;
}

.meme {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #EC8385;
    border-radius: 4px;
    background-color: #EC8385;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.meme:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #F6CACC;
}

h3.emptyMeme {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

#submitMeme {
    transition: background-color 0.4s ease;
    display: inline;
    background-color: #E66063;
    border-radius: 2px;
    border-color: #E66063;
    color: black;
    text-decoration: none;
}

#submitMeme:link, #submitMeme:visited, #submitMeme:hover, #submitMeme:active {
    color: black;
}

#submitMeme:hover {
    transition: background-color 0.4s ease;
    background-color: #F1A7A9;
}

#submitDelete {
    transition: background-color 0.4s ease;
    display: inline;
    background-color: #E66063;
    border-radius: 2px;
    border-color: #E66063;
    color: black;
    text-decoration: none;
}

#submitDelete:link, #submitDelete:visited, #submitDelete:hover, #submitDelete:active {
    color: black;
}

#submitDelete:hover {
    transition: background-color 0.4s ease;
    background-color: #F1A7A9;
}


#submitFriend {
    transition: background-color 0.4s ease;
    display: inline;
    background-color: #E66063;
    border-radius: 2px;
    border-color: #E66063;
    color: black;
    text-decoration: none;
}

#submitFriend:link, #submitFriend:visited, #submitFriend:hover, #submitFriend:active {
    color: black;
}

#submitFriend:hover {
    transition: background-color 0.4s ease;
    background-color: #F1A7A9;
}

.mainForm {
    height: 150px;
    width: 350px;
    margin: 230 auto;
    padding-top: 50px;
    font-size: 1.2em;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #EC8385;
}

.mainForm h3 {
    text-align: center;
    text-decoration: underline;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.0em;
    background-color: #E35053;
    border-radius: 2px;
    border: 2px solid black;
    padding: 3px 0px;
    color: black;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: black;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #F1A7A9;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#alertMessage {
    display:none;
    top: 150px;
    width: 400px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#alertMessage h3 {
    width: 200px;
    position: absolute;
    top: 80px;
    left: 120px;
}

#speech {
    height: 280px;
    width: 450px;
    z-index:500;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

